.nav-container {
  margin-top: 0.4rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo img {
  display: inline-block;
  width: 26%;
}

.logo h2 {
  vertical-align: middle;
  display: inline-block;
  font-weight: 700;
  font-size: 5rem;
  padding-left: 0.3rem;
  font-family: "Playfair Display", serif;
}

.nav-items {
  height: 100%;
  vertical-align: center;
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
}

.nav-item {
  display: inline-block;
  height: 100%;
  font-size: 2.2rem;
  padding: 1.4rem 15px;
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 700;
  border-radius: 30px;
}

.nav-item:hover {
  background-color: #f5f5f5;
  color: #43655a;
}

.button-container {
  display: inline-block;
  height: 100%;
}

.primary-btn {
  display: inline-block;
  border: 1.5px solid black;
  padding: 0 1rem;
  border-radius: 99px;
  font-size: 2.2rem;
  margin: 0 1rem;
  box-shadow: 3px 4px 0px #cec3c3;
}

.primary-btn:hover {
  background-color: #e8e8e8;
  box-shadow: 3px 4px 0px #000;
  color: #43655a;
}
