@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #f9f9a5;
}

h1 {
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: "Playfair Display", serif;
}

html {
  background-color: #f9f9a5;
}
